<%- include ('../dashboard/header') %>
<main class="content">
	<div class="container-fluid">
		<div class="content-header">
			<h1>Chức năng</h1>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="dashboard-1.html">Chức năng</a></li>
					<li class="breadcrumb-item active">Bộ đề</li>
				</ol>
			</nav>
		</div>

		<div class="row">
			<div class="col-lg-9">
				<form class="box needs-validation" novalidate>
					<div class="box-header">
						<h3>Tạo bộ đề</h3>
					</div>
					<div class="box-body">
						<div class="form-group row">
							<label for="jsValidationRequired" class="form-label col-3" >Tên bộ đề</label>
							<div class="col-9">
								<input id="nameExam" class="form-control" autocomplete="off" placeholder="Bộ đề 1">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-9 offset-3">
								<select id="level" required class="form-control">
									<option value>Chọn lớp</option>
								<% if (LEVEL_TYPES && LEVEL_TYPES.length) { %>
									<% LEVEL_TYPES.forEach(level => { %>
									<option value="<%=level.value%>">Lớp <%=level.text%></option>
									<% }) %>
								<% } %>
								</select>
								<span class="invalid-feedback">Сhoose option.</span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-9 offset-3">
								<select id="subjectID" required class="form-control">
									<option value>Chọn môn học</option>
									<% if (listSubject && listSubject.length) { %>
										<% listSubject.forEach(subject => { %>
											<option value="<%=subject._id%>"><%=subject.name%></option>
										<% }) %>
									<% } %>
								</select>
								<span class="invalid-feedback">Сhoose option.</span>
							</div>
						</div>
						<div class="form-group row">
							<label for="jsValidationRequired" class="form-label col-3" >Thời gian làm bài</label>
							<div class="col-9">
								<select id="timeDoTest" required class="form-control">
									<option selected value="Không giới hạn">Không giới hạn</option>
									<option value="15 phút">15 phút</option>
									<option value="30 phút">30 phút</option>
									<option value="45 phút">45 phút</option>
									<option value="60 phút">60 phút</option>
									<option value="90 phút">90 phút</option>
									<option value="120 phút">120 phút</option>
									<option value="160 phút">160 phút</option>
								</select>
								<span class="invalid-feedback">Сhoose option.</span>
							</div>
						</div>
						<div class="form-group row">
							<label for="jsValidationTypeEmail" class="form-label col-3">Mô tả</label>
							<div class="col-9">
								<input id="descriptionExam" class="form-control" autocomplete="off" placeholder='Viết gì đó..'>
							</div>
						</div>
						<div class="form-group row">
							<label for="" class="form-label col-3">Thêm tài liệu (không bắt buộc)</label>
							<div class="col-9">
								<form class="col-9" action="">
									<input type="file" id="myFile" name="filename">
								</form>
							</div>
						</div>
					</div>
					<div class="box-footer">
						<button class="btn btn-primary pull-right btnCreateExam">Thêm/Cập nhật</button>
					</div>
				</form>
			</div>
			<div class="box col-lg-9">
					<div class="box-header">
						<h3 >Danh sách bộ đề</h3>
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table table-noborder">
								<tbody>
									<tr>
										<th>Tên bộ đề</th>
										<th>Môn học</th>
										<th>Lớp</th>
										<th>Thời gian làm bài</th>
										<th>Mô tả</th>
									</tr>
									<% if (listExam && listExam.length) { %>
										<% listExam.forEach(exam => { %>
									<tr>
										<td><%=exam.name%></td> <!--Tên bộ đề-->

											<% listSubject.forEach(subject => { %>
												<% if (subject._id.toString() == exam.subjects._id.toString()) { %>
													<td><%=subject.name%></td> <!--Môn học-->
												<% } %>
											<% }) %>

										<% LEVEL_TYPES.forEach(level => { %>
											<% if (level.value == exam.level) { %>
												<td><%=level.text%></td> <!--Lớp-->
											<% } %>
										<% }) %>

										<td><%=exam.timeDoTest%></td> <!--Thời gian làm bài-->

										<% if (exam.description.toString().length <= 20) { %>
											<td><%=exam.description%></td> <!--Mô tả-->
										<% } %>

										<% if (exam.description.toString().length > 20) { %>
											<td><%=exam.description.substring(0, 20).concat("...")%></td>
										<% } %> 

										<!--Xóa, chỉnh sửa-->
										<% if (exam.author._id.toString() == userID.toString()) { %>
											<td>
												<div class="user-panel-actions">
													<a href="#"></a>
													<a href="#"><i class="fas fa-pencil-alt btnEditExam" _examID="<%=exam._id%>"></i></a>
													<a href="#"></a>
													<a href="#"><i class="fas fa-trash-alt btnRemoveExam" _examID="<%=exam._id%>"></i></a>
												</div>
											</td>
										<% } %>
									</tr>
										<% }) %>
									<% } %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
		</div>
		</div>
	</div>
</main>
<%- include ('../dashboard/footer') %>

<script>
    
	//Thêm bộ đề -------------->
    $(document).on('click', '.btnCreateExam', function(e) {
		
		e.preventDefault();
		let examID = $(this).attr('_examID');

		let name        = $('#nameExam').val().trim();
		let description = $('#descriptionExam').val().trim();
		let level       = $('#level').val();
		let subjectID   = $('#subjectID').val();
		let timeDoTest  = $('#timeDoTest').val();

		if(!examID){

			//console.log({ name, description, level, subjectID, timeDoTest })

			if(!name || !level || !subjectID){

				return toastr['error']('Chưa nhập đủ trường', 'Thông báo');

			} else{
				$.ajax({
					url: `/exam/add-exam`,
					method: 'POST',
					data: { name, description, level, subjectID, timeDoTest },
					success: resp => {
						
						if(!resp.error){

							toastr['success']('Thêm thành công', 'Thông báo');
							setTimeout(function() {
								location.reload();
							}, 500);

						}else{

							return toastr['error']('Thêm thất bại', 'Thông báo');
						}
					},
					error: err => console.log({ err })
				});
			}

		} else {

			if(!name || !level || !subjectID){

				return toastr['error']('Chưa nhập đủ trường', 'Thông báo');

			} else{
				$.ajax({
					url: `/exam/update-exam/${examID}`,
					method: 'POST',
					data: { name, description, level, subjectID, timeDoTest },
					success: resp => {
						
						if(!resp.error){

							toastr['success']('Cập nhật thành công', 'Thông báo');
							setTimeout(function() {
								location.reload();
							}, 500);

						}else{

							return toastr['error']('Cập nhật thất bại', 'Thông báo');
						}
					},
					error: err => console.log({ err })
				});
			}
		}

    })

	//Xóa bộ đề --------------->
	$(document).on('click', '.btnRemoveExam', function(e) {

		let examID = $(this).attr('_examID');

		if (window.confirm('Bạn có chắc chắn xóa không?')) {
            $.ajax({
				url: `/exam/remove-exam/${examID}`,
				method: 'GET',
				success: resp => {

					if(!resp.error){

						$(this).closest("tr").remove();
						return toastr['success']('Xóa thành công', 'Thông báo');

					}else{

						return toastr['error']('Xóa thất bại', 'Thông báo');
					}
				},
				error: err => console.log({ err })
			});
        }
    })

	//Truyền data cập nhật ------------>
	$(document).on('click', '.btnEditExam', function () {

        let examID = $(this).attr('_examID');
		
		if(examID && examID.length){
			$.ajax({
				url: `/exam/info-exam/${examID}`,
				method: 'GET',
				success: resp => {

					let { _id: id, name, description, level, timeDoTest, subjects: subjectID } = resp.data
					
					if(!resp.error){
						$('#nameExam').val(name);
						$('#descriptionExam').val(description);
						
						$('#level').val(level);
						$('#level').trigger('change');

						$('#timeDoTest').val(timeDoTest);
						$('#timeDoTest').trigger('change');

						$('#subjectID').val(subjectID._id);
						$('#subjectID').trigger('change');

						$('.btnCreateExam').attr('_examID', id);

						//return toastr['success']('Thêm thành công', 'Thông báo');

					} else {

						return toastr['error']('Thất bại', 'Thông báo');
					}
				},
				error: err => console.log({ err })
			});
		}
	});

</script>