<%- include ('../dashboard/header') %>
<script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
<main class="content" id="scroll-view">
	<div class="container-fluid">
		<div class="content-header">
			<h1>Tạo câu hỏi</h1>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="dashboard-1.html">Chức năng</a></li>
					<li class="breadcrumb-item active">Bộ đề</li>
				</ol>
			</nav>
		</div>

		<div class="row">
			<div class="col-lg-9">
				<form class="box needs-validation" novalidate id="formCreateQuestion"
					enctype="multipart/form-data" action="/question/add-question" method="POST">
					<div class="box-header">
						<h3>Tạo câu hỏi <span class="numberCountQuestion">1</span></h3>
					</div>
					<div class="box-body">
						<div class="form-group row">
							<label for="jsValidationRequired" class="form-label col-2" >Bộ đề</label>
							<div class="col-9">
								<select id="examID" required class="form-control onChangeExam" >
									<option value>Chọn bộ đề</option>
								<% if (listExam && listExam.length) { %>
									<% listExam.forEach(exam => { %>

									<option value="<%=exam._id%>"><%=exam.name%> [ <%=exam.subjects.name%>
                                    
                                    <% LEVEL_TYPES.forEach(level => { %>
											<% if (level.value == exam.level) { %>
												<td><%=level.text%></td>
											<% } %>
										<% }) %>]
                                    </option>
									<% }) %>
								<% } %>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="form-label col-2">Câu hỏi</label>
							<div class="col-9">
								<textarea name="editor1" id="editor1"></textarea>
							</div>
						</div>
                        <div class="form-group row">
							<label class="form-label col-2">Tải hình ảnh</label>
                            <div class="col-9">
							    <input id="image_question" type="file" name="image" class="form-control">
                            </div>
						</div>
                        <div class="form-group row">
							<label class="form-label col-2" >Đáp án</label>
                            <div class="form-group">
                                <label class="form-radio-custom">
                                    <input checked name="custom_radio" class="selection" value="1" type="radio">
                                    <span class="form-label"></span>
                                </label>
						    </div>
							<div class="col-9">
								<input id="answerA" type="text" class="form-control" autocomplete="off" placeholder='A.'>
							</div>
						</div>
                        
                        <div class="form-group row">
							<label class="form-label col-2" ></label>
                            <div class="form-group">
                                <label class="form-radio-custom">
                                    <input checked name="custom_radio" class="selection" value="2" type="radio">
                                    <span class="form-label"></span>
                                </label>
						    </div>
							<div class="col-9">
								<input id="answerB" type="text" class="form-control" autocomplete="off" placeholder='B.'>
							</div>
						</div>
                        <div class="form-group row">
							<label class="form-label col-2" ></label>
                            <div class="form-group">
                                <label class="form-radio-custom">
                                    <input checked name="custom_radio" class="selection" value="3" type="radio">
                                    <span class="form-label"></span>
                                </label>
						    </div>
							<div class="col-9">
								<input id="answerC" type="text" class="form-control" autocomplete="off" placeholder='C.'>
							</div>
						</div>
                        <div class="form-group row">
							<label class="form-label col-2" ></label>
                            <div class="form-group">
                                <label class="form-radio-custom">
                                    <input checked name="custom_radio" value="4" class="selection" type="radio">
                                    <span class="form-label"></span>
                                </label>
						    </div>
							<div class="col-9">
								<input id="answerD" type="text" class="form-control" autocomplete="off" placeholder='D.'>
							</div>
						</div>
					</div>
					<div class="box-footer">
						<button class="btn btn-primary pull-right btnCreateQuestion" type="submit">Tạo câu hỏi</button>
					</div>
				</form>
			</div>
			<div class="box col-lg-9">
					<div class="box-header">
						<h3 >Danh sách bộ đề</h3>
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table table-noborder list-exam-temp">
								<tbody>
									<tr>
										<th>STT</th>
										<th>Câu hỏi</th>
									</tr>
									<tr>
										<td>Câu 1</td>
										<td>Cho dãy các chất sau: saccarozơ, glucozơ, fructozơ và axetilen. Số chất trong dãy có...</td>
										<td>
											<div class="user-panel-actions">
												<a href="#"></a>
												<a href="#"><i class="fas fa-pencil-alt btnEditExam" ></i></a>
												<a href="#"></a>
												<a href="#"><i class="fas fa-trash-alt btnRemoveExam"></i></a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="box-footer">
						<button class="hrefExam"><a href="">Xem trước bộ đề</a></button>
						<button class="btn btn-primary pull-right btnCompleteExam">Hoàn thành</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<%- include ('../dashboard/footer') %>

<script>


    CKEDITOR.replace( 'editor1' );

	//Tạo câu hỏi ---------------> 
	$(document).on('click', '.btnCreateQuestion', function(e) {
		e.preventDefault();

		//Bộ đề
        let examID = $('#examID').val();

		//Câu hỏi
		let nameQuestion = CKEDITOR.instances.editor1.getData().trim(); 

        let answerA = $('#answerA').val();
        let answerB = $('#answerB').val();
        let answerC = $('#answerC').val();
        let answerD = $('#answerD').val();


		let answer = [answerA, answerB, answerC, answerD]

		console.log(answer)

        let correct = $("input[type='radio'].selection:checked").val();


		let formData = new FormData();
		let _imageDemo = $('#image_question')[0].files[0];
		console.log({ _imageDemo })

		if(_imageDemo){
			formData.append('image', _imageDemo);
		}

		formData.append('nameQuestion', nameQuestion);
		formData.append('answer', answer);
		formData.append('correct', correct);
		formData.append('examID', examID);

		//Đáp án

		//Đáp án đúng

        if  (nameQuestion.length < 1 && answerA.length < 1 || 
            nameQuestion.length < 1 && answerB.length < 1 ||
			nameQuestion.length < 1 && answerC.length < 1 ||
			nameQuestion.length < 1 && answerD.length < 1){
                return toastr['warning']('Câu hỏi và đáp án không được để trống', 'Thông báo');
                
        } if(!correct){
            return toastr['warning']('Bạn chưa chọn đáp án', 'Thông báo');

        } else{
            $.ajax({
                url: `/question/add-question`,
                method: 'POST',
                data: formData,
				enctype: 'multipart/form-data',
				processData: false,
        		contentType: false,
                success: resp => {

					console.log({resp})

                    if(!resp.error){

						$('.list-exam-temp').append(`
							<tbody>
								<tr>
									<td>Câu <span class="number-of-questions">1</span></td>
									<td style="color:black">${nameQuestion}</td>
									<td>
										<div class="user-panel-actions">
											<a href="#"></a>
											<a href="#"><i class="fas fa-pencil-alt btnEditQuestion" ></i></a>
											<a href="#"></a>
											<a href="#"><i class="fas fa-trash-alt btnRemoveQuestion" _examID="${examID}" _questionID=${resp.data._id}></i></a>
										</div>
									</td>
							</tbody>
						</tr>`)
						
						//Tăng số câu hỏi 
						let numberCountQuestion = $('.numberCountQuestion').text();
						let formatNumberCountQuestion = parseInt(numberCountQuestion) + 1;
						$('.numberCountQuestion').text(formatNumberCountQuestion);


                        toastr['success']('Thêm thành công', 'Thông báo');
                        
                        $('#nameQuestion').val('')
                        $('#answerA').val('');
                        $('#answerB').val('');
                        $('#answerC').val('');
                        $('#answerD').val('');

                    } else {

                        return toastr['error']('Thêm thất bại', 'Thông báo');
                    }
                },

                error: err => console.log({ err })
            });
				
        }
    })

	//Xóa câu hỏi --------------->
	$(document).on('click', '.btnRemoveQuestion', function(e) {

		let examID = $(this).attr('_examID');
		let questionID = $(this).attr('_questionID');
		console.log({ examID, questionID})

		if (window.confirm('Bạn có chắc chắn xóa không?')) {
            $.ajax({
				url: `/question/remove-question/${questionID}`,
				method: 'GET',
				success: resp => {

					console.log({ resp })

					if(!resp.error){

						$(this).closest("tr").remove();
						return toastr['success']('Xóa thành công', 'Thông báo');

					}else{

						return toastr['error']('Xóa thất bại', 'Thông báo');
					}
				},
				error: err => console.log({ err })
			});
        }
    })

	//Lấy ID truyền vào button xem trước --------------->
	$(document).on('change', '.onChangeExam', function() {
		let examID = $('#examID').val();
		let hrefExam = $('.hrefExam').attr('_examID', examID)
	})

	//Sự kiện chuyển đến trang trắc nghiệm --------------->
	$(document).on('click', '.hrefExam', function(e) {
		e.preventDefault();
		let examID = $(this).attr('_examID');

		if(!examID){
			
			var elmnt = document.getElementById("scroll-view");
			elmnt.scrollIntoView();

			return toastr['warning']('Bạn chưa chọn bộ đề muốn xem', 'Thông báo');

		} else {
			return window.location.href = `/test-exam?examID=${examID}`
		}
	})

</script>
