<%- include ('../dashboard/header') %>
		<div class="row">
			<div class="col-md-6 col-lg-3">
				<div class="info-box">
					<div class="info-box-content">
						<div class="info-box-text">
							<span class="info-box-number">
								<%=listUser.length%> <small class="text-sm text-success"><i class="fas fa-chevron-up"></i>+3</small>
							</span>
							Thành viên mới
						</div>
						<div class="info-box-icon bg-primary">
							<i class="i-user"></i>
						</div>
					</div>
					<canvas class="info-box-chart" height="70" id="chartJs1"></canvas>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="info-box">
					<div class="info-box-content">
						<div class="info-box-text">
							<span class="info-box-number">
								<%=listExam.length%> <small class="text-sm text-danger"><i class="fas fa-chevron-down"></i>-3</small>
							</span>
							Bộ đề
						</div>
						<div class="info-box-icon bg-success">
							<i class="fe fe-file-text"></i>
						</div>
					</div>
					<canvas class="info-box-chart" height="70" id="chartJs2"></canvas>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="info-box">
					<div class="info-box-content">
						<div class="info-box-text">
							<span class="info-box-number">
								<%=listQuestion.length%> <small class="text-sm text-success"><i class="fas fa-chevron-up"></i>+17%</small>
							</span>
							Câu hỏi
						</div>
						<div class="info-box-icon bg-warning">
							<i class="fe fe-check-circle"></i>
						</div>
					</div>
					<canvas class="info-box-chart" height="70" id="chartJs3"></canvas>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="info-box">
					<div class="info-box-content">
						<div class="info-box-text">
							<span class="info-box-number">
								19 <small class="text-sm text-success"><i class="fas fa-chevron-up"></i>+17%</small>
							</span>
							Bounce rate
						</div>
						<div class="info-box-icon bg-danger">
							<i class="i-circle-chart"></i>
						</div>
					</div>
					<canvas class="info-box-chart" height="70" id="chartJs4"></canvas>
				</div>
			</div>
		</div>

		<div class="box">
			<div class="box-header">
				<h3 >Danh sách Giáo Viên</h3>
				<div class="box-actions">
					<a href="#" class="box-actions-item">Link</a>
					<button class="box-actions-item"><i class="fas fa-minus"></i></button>
					<button class="box-actions-item"><i class="fas fa-times"></i></button>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table">
				<% if (listUser && listUser.length) { %>
					<% listUser.forEach(user => { %>
					<tbody>
						<tr>
							<th>Avatar</th>
							<th>Họ Tên</th>
							<th>Số lượng Đề</th>
							<th>Nơi làm việc</th>
							<th>Ngày tham gia</th>
							<th>Loại tài khoản</th>
							<th>Phát triển</th>
							<th></th>
						</tr>
						<tr>
							<td>
								<div class="avatar avatar-xs">
									<img src="../lttnpy_core/images/LOGO_LTTNPY3.png" alt="">
								</div>
							</td>
							<td><%=user.fullname%></td>
							<td>5</td>
							<td>THPT Trần Quốc Tuấn - Phú Yên</td>
							<td>16/04/2020</td>
							<td><span class="status-icon bg-primary"></span> Giáo viên</td>
							<td>
								<div class="d-flex justify-content-between mb-5">
									<span class="text-sm"><b>100%</b></span>
									<span class="text-sm text-secondary">Jun 11, 2018 - Jul 11, 2018</span>
								</div>
								<div class="progress progress-sm">
									<div class="progress-bar bg-primary" style="width: 100%"></div>
								</div>
							</td>
							<td>
								<a href="#" class="icon text-black-25"><i class="fas fa-ellipsis-v"></i></a>
							</td>
					</tbody>
						<% }) %>
					<% } %>
				</table>
			</div>
		</div>

		<div class="box">
			<div class="box-header">
				<h3>Weekly Recap Report</h3>
			</div>
			<div class="box-body">
				<div class="row">
					<div class="col-md-8">
						<canvas class="chart" id="areaChartJs"></canvas>
					</div>
					<div class="col-md-4">
						<h3>Goals</h3>
						<div class="d-block mb-20">
							<div class="d-flex justify-content-between">
								<p class="mb-0">Complete Purchase</p>
								<p class="mb-0 text-secondary"><b>47/50</b></p>
							</div>
							<div id="barChart1"></div>
						</div>

						<div class="d-block mb-20">
							<div class="d-flex justify-content-between">
								<p class="mb-0">Add Product to Favorite</p>
								<p class="mb-0 text-secondary"><b>25/50</b></p>
							</div>
							<div id="barChart2"></div>
						</div>

						<div class="d-block mb-25">
							<div class="d-flex justify-content-between">
								<p class="mb-0">Add product to favorite</p>
								<p class="mb-0 text-secondary"><b>12/50</b></p>
							</div>
							<div id="barChart3"></div>
						</div>

						<div class="row text-center">
							<div class="col-4">
								<div class="chart-circle" id="circleChart1"></div>
								<p>Mail orders</p>
							</div>
							<div class="col-4">
								<div id="circleChart2"></div>
								<p>Online</p>
							</div>
							<div class="col-4">
								<div id="circleChart3"></div>
								<p>In store</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<%- include ('../dashboard/footer') %>