
<%- include ('../partials/header') %>
<section>
	<div class="container-fluid" id="body">
        <nav class="third-nav">
            <div class="row">
                <div class="bg">
                <div class="clearfix">
                    <div class="col-xs-24 col-sm-18 col-md-18">
                        <div class="breadcrumbs-wrap">
                            <div class="display">
                                <a class="show-subs-breadcrumbs hidden" href="#" onclick="showSubBreadcrumbs(this, event);"><em class="fa fa-lg fa-angle-right"></em></a>
                                <ul class="breadcrumbs list-none"></ul>
                            </div>
                            <ul class="subs-breadcrumbs"></ul>
                            <ul class="temp-breadcrumbs hidden" itemscope itemtype="https://schema.org/BreadcrumbList">
                                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><a href="/vi/" itemprop="item" title="Trang nhất"><span itemprop="name">Trang nhất</span></a><i class="hidden" itemprop="position" content="1"></i></li>
                                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><a href="/vi/test/" itemprop="item" title="Trắc nghiệm"><span class="txt" itemprop="name">Trắc nghiệm</span></a><i class="hidden" itemprop="position" content="2"></i></li><li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><a href="/vi/test/lich-su-thi/" itemprop="item" title="Lịch sử thi"><span class="txt" itemprop="name">Lịch sử thi</span></a><i class="hidden" itemprop="position" content="3"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </nav>
<div class="row" id="test">
	<div class="col-sm-16 col-md-18">
		<h1 class="m-bottom">Lịch sử thi</h1>
<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover table-middle">
		<colgroup>
			<col width="50" />
			<col width="80"/>
			<col width="150" />
			<col width="100" />
			<col width="80" />
			<col width="110" />
			<col width="50" />
			<col width="50" />
			<col width="50" />
			<col width="50" />
			<col />
		</colgroup>
		<thead>
			<tr>
				<th class="text-center">STT</th>
				<th class="text-center">Đề thi</th>
				<th class="text-center">Thời gian bắt đầu</th>				
				<th class="text-center">Thời gian làm bài</th>
				<th class="text-center">Điểm</th>
				<th class="text-center">Xếp loại</th>
				<th class="text-center">Đúng</th>
				<th class="text-center">Sai</th>
				<th class="text-center">Không TL</th>
				<th class="text-center"><em class="fa fa-cog">&nbsp;</em></th>
			</tr>
		</thead>
		<tbody>
            <% if (listResult && listResult.length) { %>
                <% listResult.forEach((result, index) => { %>
                    <% if (result.author._id.toString() == userID.toString()) { %>
                        <tr class="pointer">
                            <td class="text-center"><%=index+1%></td>
                            <td><%=result.exam.name%></td>
                            <td class="text-center" data-label="Thời gian"><%=moment(result.createAt).format('MMMM Do YYYY, h:mm');%></td>
                            <td class="text-center" data-label="Thời gian">Không giới hạn</td>
                            <td class="text-center" data-label="Điểm"><%=result.point%></td>                
                            <% if (result.point < 5) { %>
                                <td class="text-center"><span class="status-icon bg-danger"></span> Yếu</td>
                                <% } else if(result.point < 7 && result.point > 4 ) {%>
                                <td class="text-center"><span class="status-icon bg-warning"></span> Trung Bình</td>
                                <% } else if(result.point < 9 && result.point > 6) {%>
                                <td class="text-center"><span class="status-icon bg-primary"></span> Khá</td>
                                <% } else {%>
                                <td class="text-center"><span class="status-icon bg-success"></span> Giỏi</td>
                            <% } %>
                            <td class="text-center" data-label="Đúng"><%=result.trueArr.length%></td>
                            <td class="text-center" data-label="Sai"><%=result.falseArr.length%></td>
                            <td class="text-center" data-label="Không TL"><%=result.unfinishQuestion%></td>
                            <td class="text-center form-tooltip">
                        </tr>
                    <% } %>
                <% }) %>
            <% } %>
		</tbody>
	</table>
</div>
	</div>
	<%- include ('../partials/sidebar') %>
<div class="row">
		<!-- Global site tag (gtag.js) - Google Analytics -->
<div class="fb-customerchat" page_id="102478721259064"></div>
</div>
                </div>
            </section>
        </div>
<%- include ('../partials/footer') %>        