<% moment.locale('vi')%>
<%- include ('../partials/header') %>
    </div>
    </div>
    </div>
    </nav>
    <section>
        <div class="container-fluid" id="body">
            <nav class="third-nav">
                <div class="row">
                    <div class="bg">
                        <div class="clearfix">
                            <div class="col-xs-24 col-sm-18 col-md-18">
                                <span id="dateTime" class="current-time"><%=moment().format('LLLL')%></span>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="row">
                <div class="col-xs-24 col-sm-15 col-md-15">
                    <!--Start of Tawk.to Script-->
                    <!--End of Tawk.to Script-->
                </div>
                <div class="col-xs-24 col-sm-9 col-md-9">
                </div>
            </div>
            <div class="row" id="test">
                <div class="col-sm-16 col-md-18">
                    <div class="test">
                        <div class="test viewlist">
                        <% if (listExamPagination && listExamPagination.length) { %>
                            <% listExamPagination.forEach(exam => { %>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="border-bottom">
                                        <div class="pull-left cat-info">
                                            <em class="fa fa-folder-open-o">&nbsp;</em>
                                            <a style="text-transform: uppercase" href="" title="Môn học">Môn học</a> »
                                            <a style="text-transform: uppercase" href="" title="Mác - Lênin" ><%=exam.subjects.name%></a>
                                        </div>
                                        <ul class="exam-info list-inline pull-right form-tooltip">
                                            <li class="pointer" data-toggle="tooltip" data-original-title="Số câu"><em class="fa fa-star-o">&nbsp;</em><%=exam.question.length%><span class="hidden-xs"> câu hỏi</span></li>
                                            <li class="pointer" data-toggle="tooltip" data-original-title="Thời gian"><em class="fa fa-clock-o">&nbsp;</em><%=moment(exam.createAt).startOf('hour').fromNow()%><span class="hidden-xs"></span></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="image pull-left">
                                        <a href="/exam?examID=<%=exam._id%>" title="&#91;MIỄN PHÍ&#93;"><img src="../lttnpy_core/images/logo_new.png" class="img-thumbnail" alt="&#91;MIỄN PHÍ&#93; Mác-Lênin: Chương Mở đầu" /></a>
                                    </div>
                                    <h2 style="text-transform: uppercase">
                                        <a href="/exam?examID=<%=exam._id%>" value="<%=exam._id%>"><strong>&#91;MIỄN PHÍ&#93; <%=exam.subjects.name%>: <%=exam.name%></strong></a>
                                    </h2>
                                    <ul class="list-inline help-block">
                                        <li><em class="fa fa-clock-o createAt" _createAt="<%=exam.createAt%>">&nbsp;</em><%= moment(exam.createAt).format('LL');%></li>
                                        <li><em class="fa fa-search">&nbsp;</em>Đã xem: <%=exam.seen.length%></li>
                                        <li><em class="fa fa-comment-o">&nbsp;</em>Bình luận: <%=exam.comments.length%></li>
                                    </ul>
                                    <p class="hometext" ><%=exam.name%>: <%=exam.description%></p>
                                    <p class="hometext" >Người tạo: <%=exam.author.fullname%></p>
                                </div>
                            </div>
                            <% }) %>
                        <% } else { %>
                        <br>
                        <h2 style="text-align: center;">Không có bộ đề nào</h2>
                        <% } %>
                        </div>
                        <div class="text-center" id="pagination" _page="<%=page%>">
                           <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="/?page=<%=page - 1%>" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a value="1" class="page-link" href="?page=1">1</a></li>
                                <li class="page-item"><a value="2" class="page-link" href="?page=2">2</a></li>
                                <li class="page-item"><a value="3" class="page-link" href="?page=3">3</a></li>
                                <li class="page-item"><a value="4" class="page-link" href="?page=4">4</a></li>
                                <li class="page-item"><a value="5" class="page-link" href="?page=5">5</a></li>
                                <li class="page-item"><a value="6" class="page-link" href="?page=6">6</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="/?page=<%= page++ %>" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
<%- include ('../partials/sidebar') %>
<%- include ('../partials/footer') %>

<script>
    $(document).on('click', '.btnDangNhap', function(e) {
        e.preventDefault();
        let email = $('#email').val().trim();
        let password = $('#password').val().trim();

        if (email.length < 1 || password.length < 1) {
            toastr['warning']('Email hoặc mật khẩu không được để trống', 'Thông báo');
        } else {
            $.ajax({
                url: `/login`,
                method: 'POST',
                data: {
                    email, password
                },
                success: resp => {

                    if (!resp.error) {
                        toastr['success']('Đăng nhập thành công', 'Thông báo');
                        setTimeout(function(){ 
                            location.href = `/`;
                        }, 500);

                    } else {

                        return toastr['warning']('Email hoặc mật khẩu không chính xác', 'Thông báo');
                    }
                },
                error: err => console.log({
                    err
                })
            });
        }
    })

    
        let page = $('#pagination').attr('_page')

        let btnContainer = document.getElementById("pagination");
        let btns = btnContainer.getElementsByClassName("page-item");
        console.log(btns.length)

        for (var i = 0; i < btns.length; i++) {
            
            btns[i].addEventListener("click", function() {
            
            let current = document.getElementsByClassName("active");

            // If there's no active class
            if (current.length > 0) {
            current[0].className = current[0].className.replace(" active", "");
            }

            // Add the active class to the current/clicked button
            this.className += " active";
            });
        }
    
    $(document).on('click', '#cannotLogin', function(e) {
        e.preventDefault();
        $("#email").addClass('notiLogin')
        $("#email").click(function(){
            $("#email").removeClass('notiLogin')
        })
    }) 
    

</script>
