<% moment.locale('vi')%>
<%- include ('../partials/header') %>
    </div>
    </div>
    </div>
    </nav>
    <section>
        <div class="container-fluid" id="body">
            <nav class="third-nav">
                <div class="row">
                    <div class="bg">
                        <div class="clearfix">
                            <div class="col-xs-24 col-sm-18 col-md-18">
                                <span id="dateTime" class="current-time"><%=moment().format('LLLL')%></span>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="row">
                <div class="col-xs-24 col-sm-15 col-md-15">
                    <!--Start of Tawk.to Script-->
                    <!--End of Tawk.to Script-->
                </div>
                <div class="col-xs-24 col-sm-9 col-md-9">
                </div>
            </div>
            <div class="row" id="test">
                <div class="col-sm-16 col-md-18">
                    <div class="test">
                        <div class="test viewlist">
                        <% if (listExam && listExam.length) { %>
                            <% listExam.forEach(exam => { %>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="border-bottom">
                                        <div class="pull-left cat-info">
                                            <em class="fa fa-folder-open-o">&nbsp;</em>
                                            <a style="text-transform: uppercase" href="" title="Môn học">Môn học</a> »
                                            <a style="text-transform: uppercase" href="" title="Mác - Lênin" ><%=exam.subjects.name%></a>
                                        </div>
                                        <ul class="exam-info list-inline pull-right form-tooltip">
                                            <li class="pointer" data-toggle="tooltip" data-original-title="Số câu"><em class="fa fa-heart-o">&nbsp;</em>40<span class="hidden-xs"> câu hỏi</span></li>
                                            <li class="pointer" data-toggle="tooltip" data-original-title="Thời gian"><em class="fa fa-clock-o">&nbsp;</em><%=moment(exam.createAt).startOf('hour').fromNow()%><span class="hidden-xs"></span></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="image pull-left">
                                        <a href="/exam?examID=<%=exam._id%>" title="&#91;MIỄN PHÍ&#93;"><img src="../lttnpy_core/images/LOGO_LTTNPY.png" class="img-thumbnail" alt="&#91;MIỄN PHÍ&#93; Mác-Lênin: Chương Mở đầu" /></a>
                                    </div>
                                    <h2 style="text-transform: uppercase">
                                        <a href="/exam?examID=<%=exam._id%>" value="<%=exam._id%>"><strong>&#91;MIỄN PHÍ&#93; <%=exam.subjects.name%>: <%=exam.name%></strong></a>
                                    </h2>
                                    <ul class="list-inline help-block">
                                        <li><em class="fa fa-clock-o createAt" _createAt="<%=exam.createAt%>">&nbsp;</em><%= moment(exam.createAt).format('LL');%></li>
                                        <li><em class="fa fa-search">&nbsp;</em>Đã xem: 0</li>
                                        <li><em class="fa fa-comment-o">&nbsp;</em>Bình luận: 0</li>
                                    </ul>
                                    <p class="hometext" ><%=exam.name%>: <%=exam.description%></p>
                                    <p class="hometext" >Người tạo: <%=exam.author.fullname%></p>
                                </div>
                            </div>
                            <% }) %>
                        <% } %>
                        </div>
                        <div class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a rel="next" title="Trắc nghiệm  -  Trang 2" href="">2</a></li>
                                <li class="disabled"><span>...</span></li>
                                <li><a rel="next" title="Trắc nghiệm  -  Trang 16" href="">16</a></li>
                                <li><a rel="next" title="Trắc nghiệm  -  Trang 2" href="">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
<%- include ('../partials/sidebar') %>
<%- include ('../partials/footer') %>

<script>
    $(document).on('click', '.btnDangNhap', function(e) {
        e.preventDefault();
        let email = $('#email').val().trim();
        let password = $('#password').val().trim();

        if (email.length < 1 || password.length < 1) {
            toastr['warning']('Email hoặc mật khẩu không được để trống', 'Thông báo');
        } else {
            $.ajax({
                url: `/login`,
                method: 'POST',
                data: {
                    email, password
                },
                success: resp => {

                    //console.log({ resp })

                    if (!resp.error) {
                        alert('Đăng nhập thành công');
                        window.location.href = `/`;

                    } else {

                        return toastr['warning']('Email hoặc mật khẩu không chính xác', 'Thông báo');
                    }
                },
                error: err => console.log({
                    err
                })
            });
        }
    })

 


</script>
