<%- include ('../partials/header') %>
<section>
   <div class="container-fluid" id="body">
      <nav class="third-nav">
         <div class="row">
            <div class="bg">
               <div class="clearfix">
                  <div class="col-xs-24 col-sm-18 col-md-18">
                     <div class="breadcrumbs-wrap">
                        <div class="display">
                           <a class="show-subs-breadcrumbs hidden" href="javascript:void(0);" onclick="showSubBreadcrumbs(this, event);"><em class="fa fa-lg fa-angle-right"></em></a>
                           <ul class="breadcrumbs list-none">
                              <li id="brcr_0" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="/"><span itemprop="title">Trang nhất</span></a></li>
                              <li id="brcr_1" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="/info-user"><span itemprop="title">Tài khoản Sinh viên</span></a></li>
                           </ul>
                        </div>
                        <ul class="subs-breadcrumbs"></ul>
                        <ul class="temp-breadcrumbs hidden" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                           <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a href="/" itemprop="item" title="Trang nhất"><span itemprop="name">Trang nhất</span></a><i class="hidden" itemprop="position" content="1"></i></li>
                           <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><a href="/info-user" itemprop="item" title="Tài khoản Sinh viên"><span class="txt" itemprop="name">Tài khoản Sinh viên</span></a><i class="hidden" itemprop="position" content="2"></i></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </nav>
      <div class="row">
         <div class="col-xs-24 col-sm-15 col-md-15">
            <!--Start of Tawk.to Script-->
            <!--End of Tawk.to Script-->
         </div>
         <div class="col-xs-24 col-sm-9 col-md-9">
         </div>
      </div>
      <div class="row" id="users">
         <div class="col-sm-16 col-md-18">
            <div class="page panel panel-default">
               <div class="panel-body">
                  <h2 class="margin-bottom-lg">Thông tin thành viên</h2>
                  <div class="row">
                     <figure class="avatar left pointer">
                        <div style="width:80px;">
                           <p class="text-center"><img src="../../public/storage/images/<%=infoUser.avatar%>" alt="tothanhdat" title="tothanhdat" width="80" class="img-thumbnail bg-gainsboro m-bottom"></p>
                        </div>
                     </figure>
                     <div>
                        <ul class="nv-list-item xsm">
                           <li><em class="fa fa-angle-right">&nbsp;</em> Tài khoản: <strong><%=infoUser.fullname%></strong> (<%=infoUser.email%>)</li>
                           <li><em class="fa fa-angle-right">&nbsp;</em> Đăng nhập theo kiểu thông thường</li>
                           <li><em class="fa fa-angle-right">&nbsp;</em> Đăng nhập vào: Thứ sáu, 12/06/2020 21:04</li>
                           <li><em class="fa fa-angle-right">&nbsp;</em> Bằng IP: 14.186.64.152</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="table-responsive margin-bottom-lg">
               <table class="table table-bordered table-striped">
                  <colgroup>
                     <col style="width:45%">
                  </colgroup>
                  <tbody>
                     <tr>
                        <td>Họ tên</td>
                        <td><%=infoUser.fullname%></td>
                     </tr>
                     <tr>
                        <td>Ngày sinh</td>
                        <td><%=moment(infoUser.birthDay).format('L');%></td>
                     </tr>
                     <tr>
                        <td>Giới tính</td>
                        <td><%=infoUser.gender%></td>
                     </tr>
                     <tr>
                        <td>Email</td>
                        <td><%=infoUser.email%></td>
                     </tr>
                     <tr>
                        <td>Ngày tham gia</td>
                        <td><%=moment(infoUser.createAt).format('LL'); %></td>
                     </tr>
                     <tr>
                        <td>Lớp</td>
                        <td>12a6</td>
                     </tr>
                     <tr>
                        <td>Trường</td>
                        <td>THPT Trần Quốc Tuấn - Phú Yên</td>
                     </tr>
                     <tr>
                        <td>Lần cập nhật trước</td>
                        <td><%=moment(infoUser.updateAt).format('LLLL'); %></td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <ul class="nav navbar-nav">
               <li><a href="/info-usereditinfo/"><em class="fa fa-caret-right margin-right-sm"></em>Thiếp lập tài khoản</a></li>
               <li><a href="/info-userlogout/"><em class="fa fa-caret-right margin-right-sm"></em>Thoát</a></li>
            </ul>
         </div>
    <%- include ('../partials/sidebar') %>
      <div class="row">
         <!-- Global site tag (gtag.js) - Google Analytics -->
         <div class="fb-customerchat" page_id="102478721259064"></div>
      </div>
   </div>
</section>
<%- include ('../partials/footer') %>