<%- include ('../dashboard/header') %>
		<br>
		<div class="box">
            <form class="input-group">
                <button type="submit"><div class="input-group-icon"><i class="fas fa-search"></i></div></button>
                <input type="text" class="form-control" placeholder="Tìm kiếm học sinh...">
            </form>
            <br>
		<div class="box-header">
				<h3 >Danh sách Kết Quả</h3>
							<div class="col-4">
								<select class="form-control form-search">
                                    <option>Lọc theo bộ đề</option>
                                </select>
							</div>
				<div class="box-actions">
					<a href="#" class="box-actions-item">Link</a>
					<button class="box-actions-item"><i class="fas fa-minus"></i></button>
					<button class="box-actions-item"><i class="fas fa-times"></i></button>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table">
					<tbody>
						<tr>
							<th>STT</th>
							<th>Họ Tên</th>
							<th>Nơi học tập</th>
							<th>Hoàn thành bộ đề</th>
							<th>Số điểm</th>
							<th>Tình trạng</th>
							<th>Phát triển</th>
						</tr>
                        <% if (listResult && listResult.length) { %>
                            <% listResult.forEach(result => { %>
                            <tr>
                                <td><%=listResult.indexOf(result)%></td>
                                <td><%=result.author.fullname%></td>
                                <td>THPT Trần Quốc Tuấn - Phú Yên</td>
                                <td><a href="/result-exam?resultID=<%=result._id%>&examID=<%=result.exam._id%>">[<%=result.exam.subjects.name%>] - <%=result.exam.name%></a></td>
                                <td><%=result.point%></td>
                                <% if (result.point < 5) { %>
                                <td><span class="status-icon bg-danger"></span> Yếu</td>
                                <% } else if(result.point < 7 && result.point > 4 ) {%>
                                <td><span class="status-icon bg-warning"></span> Trung Bình</td>
                                <% } else if(result.point < 9 && result.point > 6) {%>
                                <td><span class="status-icon bg-primary"></span> Khá</td>
                                <% } else {%>
                                <td><span class="status-icon bg-success"></span> Giỏi</td>
                                <% } %>
                                <td>
                                    <div class="d-flex justify-content-between mb-5">
                                        <span class="text-sm"><b>50%</b></span>
                                        <span class="text-sm text-secondary">Jun 11, 2018 - Jul 11, 2018</span>
                                    </div>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-primary" style="width: 55%"></div>
                                    </div>
                                </td>
                                <td>
                                    <a href="#" class="icon text-black-25"><i class="fas fa-ellipsis-v"></i></a>
                                </td>
                            </tbody>
                            <% }) %>
				        <% } %>
				</table>
			</div>
            <hr>
                <p style="margin-left: 15px">Nhấp vào tên bộ đề để xem chi tiết</p>
		    </div>

		<div class="box">
			<div class="box-header">
				<h3>Weekly Recap Report</h3>
			</div>
			<div class="box-body">
				<div class="row">
					<div class="col-md-8">
						<canvas class="chart" id="areaChartJs"></canvas>
					</div>
					<div class="col-md-4">
						<h3>Goals</h3>
						<div class="d-block mb-20">
							<div class="d-flex justify-content-between">
								<p class="mb-0">Complete Purchase</p>
								<p class="mb-0 text-secondary"><b>47/50</b></p>
							</div>
							<div id="barChart1"></div>
						</div>

						<div class="d-block mb-20">
							<div class="d-flex justify-content-between">
								<p class="mb-0">Add Product to Favorite</p>
								<p class="mb-0 text-secondary"><b>25/50</b></p>
							</div>
							<div id="barChart2"></div>
						</div>

						<div class="d-block mb-25">
							<div class="d-flex justify-content-between">
								<p class="mb-0">Add product to favorite</p>
								<p class="mb-0 text-secondary"><b>12/50</b></p>
							</div>
							<div id="barChart3"></div>
						</div>

						<div class="row text-center">
							<div class="col-4">
								<div class="chart-circle" id="circleChart1"></div>
								<p>Mail orders</p>
							</div>
							<div class="col-4">
								<div id="circleChart2"></div>
								<p>Online</p>
							</div>
							<div class="col-4">
								<div id="circleChart3"></div>
								<p>In store</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<%- include ('../dashboard/footer') %>