<%- include ('../partials/header') %>
<div class="container-fluid" id="body">
    <nav class="third-nav">
        <div class="row">
            <div class="bg">
                <div class="clearfix">
                    <div class="col-xs-24 col-sm-18 col-md-18">
                        <div class="breadcrumbs-wrap">
                            <div class="display">
                                <a class="show-subs-breadcrumbs hidden" href="#" onclick="showSubBreadcrumbs(this, event);"><em class="fa fa-lg fa-angle-right"></em></a>
                                <ul class="breadcrumbs list-none"></ul>
                            </div>
                            <ul class="subs-breadcrumbs"></ul>
                            <ul class="temp-breadcrumbs hidden">
                                <li><a href="" title="Trang nhất"><span>Trang nhất</span></a></li>
                            <li><a href="" title="Trắc nghiệm"><span class="txt" itemprop="title">Trắc nghiệm</span></a></li>
                            <li><a href="" title="<%=infoExam.subjects.name%>"><span class="txt" itemprop="title"><%=infoExam.subjects.name%></span></a></li>
                            <li><a href="" title="<%=infoExam.name%>"><span class="txt" itemprop="title"><%=infoExam.name%></span></a></li>
                            <li><a href="" title="&#91;MIỄN PHÍ&#93;"><span class="txt" itemprop="title">&#91;MIỄN PHÍ&#93; Mác-Lênin: Chương Mở đầu</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-xs-24 col-sm-15 col-md-15">
            <!--Start of Tawk.to Script-->
            <!--End of Tawk.to Script-->
        </div>
        <div class="col-xs-24 col-sm-9 col-md-9">
        </div>
    </div>
    <div class="row" id="test">
        <div class="col-sm-16 col-md-18">
            <div id="breadcrumbs_mobile" class="col-xs-24 col-sm-24 box-coll hidden-lg hiddent-md ">
                <div class="col-xs-20 col-sm-20 title"></div>
            </div>
            <div class="clearfix"></div>
            <div class="detail view-list">
                <div class="panel panel-default result_width edit_panel" data-spy="affix" data-offset-top="250">
                    <!--         <div class="panel-heading">Thông tin đề thi</div> -->
                    <div class="panel-body edit_panel">
                        <h1 class="m-bottom affix_hidden">&#91;MIỄN PHÍ&#93; <%=infoExam.name%>: [<%=infoExam.subjects.name%>] <%=infoExam.description%></h1>
                        <div class="row">
                            <div class="col-lg-8 col-xs-16 col-sm-12 col-md-8 affix_hidden">
                                <div class="row exam-info">
                                    <div class="col-xs-24 col-sm-12 col-md-8">
                                        <label>Số câu</label>: 40
                                    </div>
                                    <div class="col-xs-24 col-sm-12 col-md-16">
                                        <label>Thời gian</label>: 90 phút
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-10 col-sm-24 col-md-8 text-center" style="position: absolute; right: 0;">
                                <button type="submit" name="submit" class="btn btn-success btnSendTest">
                                    <em class="fa fa-floppy-o">&nbsp;</em>Nộp bài
                                </button>
                                &nbsp; <a href="/" class="cancelLink"> Thoát </a>
                            </div>
                        </div>
                    </div>
                </div>
            <div>
                </div>
                <div class="testing m-bottom get_width" id="top">
                    <form action="" method="post" id="frm-submit" class="col-xs-24 col-sm-24 col-md-24">
                        <input type="hidden" value="1" name="save_test"/>
                        <input type="hidden" value="47" name="exam_id"/>
                        <input type='hidden' id='current_page'/>
                        <input type='hidden' id='show_per_page'/>
                        <div id="questionlist" data-exam-id="47">
                        <% for(let i=0; i < infoExam.question.length; i++) {%>
                            <div class="question-box">
                                <div class="panel panel-default question-item " data-question-number="1">
                                    <div class="panel-body" id="question<%=i+1%>">
                                        <p class="m-bottom question">
                                            <strong class="text-red questionOfExam" _examID = "<%=infoExam._id%>">Câu hỏi <%=i+1%>:</strong><b><span lang="VI" style="font-size:12.0pt">
                                            <span style="line-height:107%"><span>
                                            <%-infoExam.question[i].name%></span></span></span></b>
                                        </p>
                                        <% if (infoExam.question[i].image) { %>
                                            <div class="panel panel-default get_width">
                                                <div class="panel-body">
                                                    <div class="text-center imgposition">
                                                        <img width="400" height="auto" src="../storage/images/<%=infoExam.question[i].image%>" alt="<%=infoExam.question[i].image%>">
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                        <div class="row answer">
                                        <% for(let j=0; j < infoExam.question[i].answer.length; j++) {%>
                                            <div class="answer-item col-xs-12 col-sm-12 col-md-12">
                                                <label class="radio_question" >
                                                    <input class="hidden-print selection chooseAnswer" _numberQus="<%= i + 1%>"  name="answer<%=i + 1%>" type="radio" _question="<%=infoExam.question[i]._id%>" value="<%=j+1%>" /> <%-String.fromCharCode(65 + j)%>. <%=infoExam.question[i].answer[j]%>.
                                                </label>
                                            </div>
                                        <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                    <% if (infoExam.question.length) { %>
                    <div class="text-center">
                        <button type="submit" name="submit" class="btn btn-success btnSendTest">
                            <em class="fa fa-floppy-o">&nbsp;</em>Nộp bài
                        </button>
                        &nbsp; <a href="" class="cancelLink"> Thoát </a>
                    </div>
                    <% } else {%>
                    <h2 style="text-align: center;">Hiện tại chưa có câu hỏi nào</h2>
                    <%}%>
                </div>
            </div>
        </div>
<%- include ('../partials/sidebar') %>
<%- include ('../partials/footer') %>

<script>

    let correctNumber = 0;

    $(document).on('click', '.btnSendTest', function (e) {
		e.preventDefault();
        let examID = $('.questionOfExam').attr('_examID');
        let falseArr = [];
        let trueArr = [];
		
		if(examID){
            if (window.confirm('Bạn có chắc chắn nộp bài không?')) {
                $.ajax({
                    url: `/exam/info-exam/${examID}`,
                    method: 'GET',
                    success: resp => {
                        if(!resp.error){
                            let infoExam = resp.data;
                            for(let i=0 ; i < arrResult.length; i++){
                                for(let j=0; j < infoExam.question.length; j++){

                                    if(arrResult[i].questionID == infoExam.question[j]._id && arrResult[i].correct.toString() !== infoExam.question[j].correct.toString() ){
                                        falseArr.push(arrResult[i].questionID)
                                    }

                                    if(arrResult[i].questionID == infoExam.question[j]._id && arrResult[i].correct == infoExam.question[j].correct ){
                                        correctNumber += 1;
                                        trueArr.push(arrResult[i].questionID)
                                    }
                                }
                            }

                            let dontCompleteNumber = infoExam.question.length - arrResult.length;

                            // console.log(`Số câu sai: ${falseNumber}`);

                            console.log(`Câu chưa làm: ${dontCompleteNumber}`);

                            console.log(`Những câu sai: ${falseArr}`);

                            console.log(`Những câu đúng: ${trueArr}`);


                            let point = (10/infoExam.question.length)*correctNumber;
                            console.log(`Điểm của bạn là: ${point}`);

                            window.location.href=`/result-exam?point=${point}`
                        }
                        correctNumber = 0; //set lại số điểm = 0;
                    },
                    error: err => console.log({ err })
                });
            }
		}

	});

    let arrResult = [];
    $(`.chooseAnswer`).on('change', function() {
        let questionID = $(this).attr('_question');
        let numberQus = $(this).attr('_numberQus');
        let correct =  $(`input[name="answer${numberQus}"]:checked`).val();

        if(questionID && correct ){
            for (var i =0; i < arrResult.length; i++){
                if (arrResult[i].questionID === questionID) {
                    arrResult.splice(i,1);
                    break;
                }
            }
            arrResult.push({ questionID, correct })
            console.log(arrResult)
        }
    });

</script>

